
/* Your CSS Code here. */
*{
    padding: 0;
    margin: 0;  
}
.holder{
    
    display: flex;
    /* border: 2px solid black; */
    background-color: antiquewhite;
    justify-content: space-between;
    flex-wrap: wrap;



}
.flexitem{
    
   
        height: 50px;
        width: 183px;
        border: 2px solid black;
        background-color: cyan;
        padding: 75px;
  
    
}
